h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: inherit;
}
input {
  border: none;
}
button {
  border: 0;
  outline: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
